ul, #myUL {
  list-style-type: none;
}

.listItem {
  user-select: none;
  cursor: pointer;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

* {
  color: rgb(236, 236, 236);
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

body {
  background-color: rgb(58, 52, 52);
}